::-webkit-scrollbar {
  width: 4px;
  
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2c2c2c, #3c3c3c);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2d2d2d, #1d1d1d);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
